<div class="media" id="comment-<%= comment.id %>">
  <div class="media-body">
    <p><%= comment.body %></p>
    <small>
      <% if policy(comment).destroy? %>
        <%= link_to "Delete Comment", [@post, comment], method: :delete %>
      <% end %>
    </small>
  </div>
</div>
